* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background: hsl(233, 47%, 7%);
    height: 100vh;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
  }
  
  p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    margin-top: -50px;
  }
  
  ul {
    display: flex;
    justify-content: space-between;

    text-transform: uppercase;
  }
  
  li {
    list-style-type: none;

    display: flex;
    flex-direction: column;
  }
  
  .insights {
    color: hsl(277, 64%, 61%);
  }
  
  .stat.number {
    color: hsl(0, 0%, 100%);
    font-size: 1.4rem;
    font-weight: 700;
  }
  
  .stat.number.lower {
    text-transform: lowercase;
  }
  
  .stat.item {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
  }
  
  .main-container {
    display: flex;
    align-items: center;
    height: 95%;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    background: hsl(244, 38%, 16%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .layer {
    background-color: hsl(277, 100%, 42%);
    width: 50%;
  }
  
  img {
    height: 100%;
    width: 100%;
    opacity: 0.6;
  }
  
  .content {
    width: 50%;
    padding: 7px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  @media (max-width: 870px) {
    body {
        font-size: 15px;
        height: initial;
      }
      
      h1 {
        font-size: 1.5rem;
        margin-top: 30px;
      }
      
      p {
        margin-top: 30px;
      }
      
      ul {
        flex-direction: column;
        justify-content:space-around;
        height: 200px;
        margin: 30px;
      }
      
      .main-container {
        margin-top: 50px;
        height: initial;
      }
      
      .container {
        width: 80%;
        margin: 0 auto;
        display: block;
        text-align: center;
      }
      
      .layer {
        width: 100%;
      }
      
      img {
        display: block;
      }
      
      .content {
        width: 100%;
        padding: 7px 25px;
        display: block;
      }

      .attribution {
          margin: 25px 15px;
      }
  }